{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "fetch": true,
    "window": true,
    "__DEV__": true,
    "navigator": true,
    "ReactElement": true,
    "requestAnimationFrame": true,
    "jest": true,
    "Iterable": true,
    "Action": true,
    "FormData": true
  },
  "plugins": ["react", "react-native"],
  "rules": {
    "semi": ["error", "never"],
    "spaced-comment": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "comma-dangle": 0,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-console": 0,
    "camelcase": 0,
    "react-native/no-unused-styles": 2,
    "no-return-assign": 0,
    "react/jsx-boolean-value": 0,
    "react/sort-comp": 0,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "max-len": ["error", { "code": 100 }],
    "import/prefer-default-export": 0,
    "global-require": "off",
    "prefer-promise-reject-errors": "off",
    "padded-blocks": "off",
    "react/no-typos": "off",
    "no-undef": "error",
    "no-underscore-dangle": "warn",
    /* what does prop-types ever do good for private code anyway */
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    },
    "root": true
  }
}
